<h3 class = "text-center custom-text">Overtime Log</h3>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>
				Requester
			</th>
			<th>
				Date
			</th>
			<th>
				Body
			</th>
			<th>
				Hours
			</th>
			<th>
				Status
			</th>
		</tr>
	</thead>
	<tbody>
		<%= render 'audit_logs/audit_log.html.erb' %>
	</tbody>
</table> 

